.idea/
target/*
*.iml
src/main/webapp/virkailija-raamit
src/main/webapp/*
src/main/webapp/static
src/main/static/node_modules
src/main/static/build
src/main/static/node
.babelrc
apply-raamit.js
.classpath
.project
.settings/
