.idea/
target/*
*.iml
src/main/webapp/node_modules
src/main/webapp/build
src/main/webapp/node
src/main/webapp/virkailija-raamit
src/main/webapp/apply-raamit.js
src/main/webapp/*.css
src/main/webapp/raportointi.html
src/main/webapp/static
src/main/static/node_modules
src/main/static/build
src/main/static/node
.babelrc
apply-raamit.js
.classpath
.project
.settings/
