.virkailija-raamit .nav-link:hover,
.virkailija-raamit .nav-link:hover {
    text-decoration: none !important;
}

body{
    margin-top: 0 !important;
    font-family: 'Open Sans', sans-serif;
}

.links {
    text-decoration: none;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.linkCol > a{
    word-wrap: break-word;
    display: block;
    width: 100%;
    color: #666666;
    text-decoration: none;
}
.links:hover {
    background-color: #E0F3FF;
}
.linkCol:first-child {
    height: 0 !important;
}
.linkCol:hover {
    background-color: #F6FBFF !important;
}

.opintopolkuLogo{
    width: 144px;
    padding-left: 15px;
    padding-bottom: 20px;
    margin-top: 4px;
}

@media (min-width: 1224px) {
    .links {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
